@inherits BlazorComponentBase
@page "/"

<MudStack AlignItems="AlignItems.Center" Class="mud-stack-style">

    @* --- CONTENEUR CARD --- *@
    <MudCard Class="accueil-card">
        <MudCardContent>
            <MudStack Spacing="1" AlignItems="AlignItems.Center">

                @* 1. HEADER *@
                <div class="tropical-header">
                    <MudText Typo="Typo.h3" Class="font-weight-bold">Le Belvédère de l'Autre-Bord </MudText>
                    <MudText Typo="Typo.subtitle2">@Word("has the pleasure to")</MudText>
                    <MudText Typo="Typo.h2">@Word("WelcomeName1")</MudText>
                </div>

                @* 2. CARROUSEL *@
                <div class="tropical-carousel-frame">
                    <MudCarousel ShowArrows="true"
                                 AutoCycle="true"
                                 TData="object"
                                 Class="carroussel-style"
                                 SelectedIndex="@_selectedIndex"
                                 SelectedIndexChanged="OnSlideChanged">

                        @* --- SLIDE 1 --- *@
                        <MudCarouselItem Transition="Transition.Slide">
                            <div class="carroussel-img-container">
                                @* Modification : Utilisation de la classe tropical-image et suppression du style inline *@
                                <img src="/images/accueil/accueil.jpg" class="tropical-image" alt="accueil">
                                <MudText Typo="Typo.subtitle1"
                                Class="carroussel-text-on-picture">
                                    @_displayedText
                                </MudText>
                            </div>
                        </MudCarouselItem>

                        @* --- SLIDE 2 --- *@
                        <MudCarouselItem Transition="Transition.Slide">
                            <div class="carroussel-img-container">
                                <img src="/images/accueil/accueil1.jpg" class="tropical-image" alt="accueil 1">
                                <MudText Typo="Typo.subtitle1"
                                         Class="carroussel-text-on-picture top-center-pos">
                                    @_displayedText2
                                </MudText>
                            </div>
                        </MudCarouselItem>

                        @* --- SLIDE 3 --- *@
                        <MudCarouselItem Transition="Transition.Slide">
                            <div class="carroussel-img-container">
                                <img src="/images/accueil/accueil2.jpg" class="tropical-image" alt="accueil 2">
                                <MudText Typo="Typo.subtitle1"
                                         Class="carroussel-text-on-picture bottom-right-pos ">
                                    @_displayedText3
                                </MudText>
                            </div>
                        </MudCarouselItem>

                        @* --- SLIDE 4 --- *@
                        <MudCarouselItem Transition="Transition.Slide">
                            <div class="carroussel-img-container" style="width: 100%; height: 100%; position: relative;">
                                <img src="/images/accueil/accueil3.jpg" class="tropical-image" alt="accueil 3">
                                <MudText Typo="Typo.subtitle1"
                                         Class="carroussel-text-on-picture">
                                   @*  @_displayedText4 *@
                                </MudText>
                            </div>
                        </MudCarouselItem>

                    </MudCarousel>
                </div>

                @* 3. TEXTE DU BAS *@
                <MudText Typo="Typo.body2" Align="Align.Center" >
                    @Word("Treat yourself with a unique experience of comfort and relaxation")
                </MudText>

            </MudStack>
        </MudCardContent>
    </MudCard>

</MudStack>