<MudText Typo="Typo.h6" Align="Align.Center">Nos appartements disponibles</MudText>
<div class="d-flex justify-center" style="flex-shrink: 0;">
    <MudButton Variant="Variant.Filled" Color="Color.Primary" Href="/appartements" Size="Size.Medium" Class="px-6">Voir les appartements</MudButton>
</div>