@rendermode InteractiveServer
@page "/"
@using RentingApp.Components.Pages.HomeTabs
<PageTitle>Lunik rentals - Accueil</PageTitle>

<MudContainer MaxWidth="MaxWidth.Large" Style="  display: flex; flex-direction: column; height: calc(100vh - 120px) ;">
    <MudTabs Centered="true" Elevation="2"  Rounded="true" TabHeaderClass="tab-row">
        <MudTabPanel Text=" Accueil">
            <AccueilTab  />
        </MudTabPanel>

        <MudTabPanel Text="Nos Appartements">
           <AppartementTab/>
        </MudTabPanel>

       @*  <MudTabPanel Text="Réserver">
            <MudStack Spacing="2" AlignItems="AlignItems.Center" Style="height: 100%; justify-content: center; overflow: auto; padding: 1rem;">
                <MudText Typo="Typo.h6" Align="Align.Center">Choisissez vos dates de séjour</MudText>
                <div style="overflow: visible; display: flex; justify-content: center;">
                    <MudPaper Class="pa-4 tropical-card" Elevation="0" Style="width: auto;">
                        <MudDateRangePicker PickerVariant="PickerVariant.Static" @bind-DateRange="@_dateRange" Margin="Margin.Dense" />
                    </MudPaper>
                </div>
                <MudButton Variant="Variant.Filled" Color="Color.Secondary" Href="/reservation" Size="Size.Medium" Class="px-6">Faire une réservation</MudButton>
            </MudStack>
        </MudTabPanel> *@
        <MudTabPanel Text="Contact">
            <ContactTab/>
        </MudTabPanel>
    </MudTabs>
</MudContainer>

@code {
    private DateRange _dateRange { get; set; }
}